.settings-screen {
  background: #333;
  border-top: 4px solid black;
  h2 {
    background: black;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img {
      background: white;
      border: 4px solid white;
      border-radius: 50%;
    }
  }
  .settings-screen-inner {
    color: white;
  }
  p {
    border: 1px solid black;
  }
  .settings-label {
    background: #222;
    display: inline-block;
    width: 8rem;
    padding: .5rem;
    text-align: right;
  }
  .ui-button {
    display: inline-block;
    padding: .5rem;
    &:hover {
      cursor: pointer;
      background: $blue;
    }
  }
  .horizontal-button,
  .grid-button {

  }

}
