# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Old Work
clickopolis-alpha
clickopolis-beta
./clickopolis-alpha
./clickopolis-beta
./game/dist

# Node
clickopolis-delta/node_modules
clickopolis-gamma/node_modules
game/node_modules
guide/node_modules
node_modules
/node_modules/
**/node_modules
game/dist
./src/scripts/*.js
npm-deub.log
/dist/
dist

Prepros Build/

*.cfg

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

game/src/scripts/index.js

game/src/scripts/data.citizen.js

*.map

game/src/scripts/data.nation.js

game/src/scripts/index.js

game/src/scripts/utils.js

game/src/scripts/template.js

*.map

game/src/scripts/index.js

npm-debug.log

*.log

game/src/scripts/data.tech.js

game/src/scripts/notify.js

game/src/scripts/nation.js

game/src/scripts/trade-deal.js

game/src/scripts/economy.js

*.map

src/scripts/data.building.js

src/scripts/economy.js

src/scripts/index.js

src/scripts/template.js

src/scripts/trade-deal.js

src/scripts/data.resource.js

src/scripts/data.citizen.js

src/scripts/data.citizen.js

src/scripts/data.nation.js

src/scripts/civilization.js

src/scripts/notify.js

src/scripts/utils.js

src/scripts/data.tech.js

src/scripts/nation.js

src/scripts/log.js

src/scripts/flags.js

src/scripts/building.js

src/scripts/citizen.js

src/scripts/tech.js

src/scripts/data.wonder.js

src/scripts/wonder.js

src/scripts/resource.js

src/scripts/game.js

src/scripts/robot.js

src/scripts/collection.js
