.resources-screen {
  $green: #32E361;
  $yellow: #E6D83E;

  background: linear-gradient(to bottom, white, lighten($green, 30%)) !important;
  border-top: 4px solid $green;


  h2 {
    color: darken($green, 10%);
  }

  .food-btn,
  .prod-btn {
    color: #222;
    font-size: 1.25rem;
    margin: .25rem;
    padding: .5rem;
    width: 14rem;
  }

  .food-btn {
    background: $green;
    @extend %transition-s;
    &:hover {
      background: darken($green, 10%);
      @extend %transition-s;
    }
  }

  .prod-btn {
    background: $yellow;
    @extend %transition-s;
    &:hover {
      background: darken($yellow, 10%);
      @extend %transition-s;
    }
  }

  .location-panel {
    //background: $clouds;
    background: desaturate($green, 15%);
    border-left: 4px solid $green;
    color: white;
    margin: .25rem;
    padding: .25rem;
    text-align: center;
    p { padding: 0; margin: 0; }
  }

  .resource {
    background: $clouds;
    border: 1px solid #ccc;

    display: inline-block;
    margin: .25rem;
    min-width: 10rem;
    padding: .5rem;
    text-align: center;
    &[data-resource] {
      border-radius: 4px;
    }
    &[data-visible='false'] {
      opacity: 0;
      pointer-events: none;
    }
    &[data-unlocked='false'] {
      -webkit-filter: grayscale(100%);
      opacity: .3;
      pointer-events: none;
    }
    &[data-resource]:hover {
      background: darken($clouds, 5%);
      cursor: pointer;
      @extend %transition-s;
    }
    &[data-resource].active {
      border: 1px solid #222;
    }
  }

  .resource-info {
    margin: .25rem;
    text-align: center;
  }



  .resource-info-screen {
    background: $clouds;
    border: 1px solid #ccc;
    border-radius: 4px;
    //margin: .5rem;
    padding: .5rem;

    h3 {
      text-align: center;
      text-transform: uppercase;
      img { height: 1.5rem; }
    }
  }

}

.citizens-screen {
  border-top: 4px solid tan;
}

.civilization-screen {
  border-top: 4px solid darkblue;
  .pop-btn {
    background: lighten(green, 15%);
    padding: .5rem;
  }
  .civ-metric {
    border: 1px solid #666;
    border-radius: 4px;
    display: inline-block;
    margin: .5rem .25rem;
    min-width: 6rem;
    padding: .25rem;
    text-align: center;
  }
}

.economy-screen {
  border-top: 4px solid green;
}
