.resources-screen {
  $green: #32E361;
  $yellow: #E6D83E;

  //background: linear-gradient(to bottom, #eee, lighten($green, 30%)) !important;
  background: #333;

  border-top: 4px solid $green;


  h2 {
    background: darken($green, 10%);
    color: #eee;
    margin: .25rem;
    margin-bottom: 1.25rem;
    padding: 1rem;
    img {
      border-radius: 50%;
      background: white;
      border: 4px solid white;
    }
  }

  .food-btn,
  .prod-btn {
    border: 1px solid #222;
    color: #222;
    font-size: 1.25rem;
    margin: .25rem;
    padding: .5rem;
    width: 14rem;
  }

  .food-btn {
    background: $green;
    @extend %transition-s;
    &:hover {
      background: darken($green, 10%);
      @extend %transition-s;
    }
  }

  .prod-btn {
    background: $yellow;
    @extend %transition-s;
    &:hover {
      background: darken($yellow, 10%);
      @extend %transition-s;
    }
  }

  .location-panel {
    //background: $clouds;
    background: desaturate($green, 15%);
    border-left: 4px solid $green;
    color: white;
    margin: .25rem;
    padding: .25rem;
    text-align: center;
    p { padding: 0; margin: 0; }
  }

  .resource {
    background: #222;
    color: #eee;
    border: 1px solid #111;

    display: inline-block;
    margin: .25rem;
    min-width: 7rem;
    padding: .5rem;
    text-align: center;
    &[data-resource] {
      border-radius: 4px;
    }
    &[data-visible='false'] {
      opacity: 0;
      pointer-events: none;
    }
    &[data-unlocked='false'] {
      -webkit-filter: grayscale(100%);
      opacity: .3;
      pointer-events: none;
    }
    &[data-resource]:hover {
      background: darken(#222, 5%);
      cursor: pointer;
      @extend %transition-s;
    }
    &[data-resource].active {
      border: 1px solid $green;
    }
  }

  .resource-info {
    color: #eee;
    margin: .25rem;
    text-align: center;
  }



  .resource-info-screen {
    background: #222;
    color: #eee;
    border: 1px solid #111;
    border-radius: 4px;
    //margin: .5rem;
    padding: .5rem;

    h3 {
      text-align: center;
      text-transform: uppercase;
      img { height: 1.5rem; }
    }
  }

}

.citizens-screen {
  //background: linear-gradient(to bottom, white, #E6DBB3) !important;
  background: #333;
  border-top: 4px solid tan;
  h2 {
    background: #CFBC7A;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img {
      background: white;
      border: 4px solid white;
      border-radius: 50%;
    }
  }

  .center-text {
    color: #eee;
  }

  .row {
    background: rgba(#222, 0.9);
    border: 1px solid #111;
    color: #eee;
    margin-top: .25rem;
    padding: .5rem;
  }

  .citizen-icon img {
    background: #ddd;
    border: 2px solid #ddd;
    height: 1.5rem;
    margin: 0 .25rem;
  }

  .citizen-info img {
    margin-top: 4px;
  }

  button {
    background: #111;
    border: 1px solid black;
    color: #eee;
    text-align: center;
    width: 2rem;
    &:hover {
      border: 1px solid tan;
    }
  }
}

.civilization-screen {
  //background: linear-gradient(to bottom, white, #B3BEE6) !important;
  background: #333;
  border-top: 4px solid darken(#B845E6, 15%);
  h2 {
    background: #B845E6;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img {
      background: white;
      border: 4px solid white;
      border-radius: 50%;
    }
  }
  .pop-btn {
    background: lighten(green, 15%);
    padding: .5rem;
  }
  .civ-metric {
    //border: 1px solid #666;
    border-radius: 4px;
    display: inline-block;
    margin: .5rem .25rem;
    min-width: 6rem;
    padding: .5rem;
    text-align: center;
  }
  .metric-growth-cost {
    background: $clouds;
  }
  .metric-population {
    background: #E6DBB3;
  }
  .metric-happiness {
    background: lighten(yellow, 20%);
  }
  .metric-anger {
    background: lighten(red, 25%);
  }
  .metric-health {
    background: white;
  }
  .metric-pollution {
    background: lighten(desaturate(green, 50%), 35%);
  }
  .metric-influence {
    background: #BAE0E8;
  }
  .metric-golden-age {
    background: #222;
    border: 1px solid black;
    color: #fff;
    padding: .5rem auto;
    width: 20rem;
  }
}

.economy-screen {
  background: linear-gradient(to bottom, white, #A0D190) !important;
  border-top: 4px solid green;
  .total-cash {
    background: #fff;
    border: 1px solid green;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;
    text-align: right;
    &.debt {
      color: red;
    }
    img {
      height: 1.5rem;
      margin-top: 4px;
    }
  }
  .cash-item {
    background: lighten(green, 15%);
    color: white;
    display: block;
    margin: .25rem 0;
    padding: .25rem;
    text-align: right;
    &.cash-item-total {
      background: green;
    }
    span {
      font-weight: bold;
    }
  }
  table {
    background: white;
    margin-top: .5rem;
    width: 100%;
    tr {
      padding: .25rem;
    }
    tr {
      text-align: center;
    }
    tr:nth-of-type(1) {
      //font-size: 1.25rem;
      font-weight: bold;

    }
    tr:nth-of-type(even) {
      background: #eee;
    }
  }
}

.buildings-screen {
  background: linear-gradient(to bottom, white, #CDD483) !important;
  border-top: 4px solid gold;
}

.technology-screen {
  background: linear-gradient(to bottom, white, #83D4D4) !important;
  border-top: 4px solid #83D4D4;
}
