.btn {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: .25rem 0;
  max-width: 16rem;
  padding: .25rem;
  text-align: center;
  //vertical-align: middle;
  @extend %no-select;
  img {
    height: 1.25rem;
    margin: 0 .25rem;
    //vertical-align: middle;
  }
}

a.btn {
  $a-btn-color: rgb(25, 189, 225);
  color: $a-btn-color;
  text-decoration: none;
  @extend %transition-s;
  &:hover {
    background: #fff;
    color: darken($a-btn-color, 15%);
    @extend %transition-s;
  }
}
