.btn {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin: .25rem 0;
  padding: .25rem;
  text-align: center;
  //vertical-align: middle;
  @extend %no-select;
  img {
    height: 1.25rem;
    margin: 0 .25rem;
    //vertical-align: middle;
  }
}
