.citizens {
  flex-grow: 2;
  width: 30%;
  .heading {
    background: $citizen-color;
  }
  .citizen-add, .citizen-remove {
    background: $citizen-color;
    border: 1px solid darken($citizen-color, 15%);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 1.5rem;
    &:hover {
      background: darken($citizen-color, 10%);
      @extend %transition-s;
    }
  }
  .citizen-effect {
    color: #ccc;
    font-style: italic;
  }
  img {
    height: .75rem;
  }
}
