.culture {

  width: 50%;

  .heading {

    .heading-inner {
      background: $culture-color;
      color: white;
      //display: inline-block;
      height: 36px;
      margin-right: -4px;

      width: 25%;
      vertical-align: middle;
      &:nth-of-type(2) {
        background: darken($culture-color, 5%);
      }
      &:nth-of-type(3) {
        background: darken($culture-color, 15%);
      }
      &:nth-of-type(4) {
        background: darken($culture-color, 10%);
      }
    }
  }
}

.great-works {
  width: 30%;
  .heading {
    background: $great-works-color;
    color: white;
  }
}

.searchbar-container {
  input {

  }
}
