$culture-color: #E6395F;

.culture {
  width: 50%;
  .heading {

    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    img {
      height: 1.75rem;
      vertical-align: middle;
    }
    .heading-inner {
      background: $culture-color;
      color: white;
      display: inline-block;
      height: 3rem;
      margin-right: -4px;
      padding: .5rem;
      width: 25%;
      vertical-align: middle;
      &:nth-of-type(2) {
        background: darken($culture-color, 5%);
      }
      &:nth-of-type(3) {
        background: darken($culture-color, 15%);
      }
      &:nth-of-type(4) {
        background: darken($culture-color, 10%);
      }
    }
  }
}
