@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  font-weight: 300;
  @extend %transition-s;
  &.pull-down {
    margin-top: 30rem;
    @extend %transition-s;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
