@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  font-weight: 300;
  @extend %transition-s;
  &.pull-down {
    margin-top: 30rem;
    @extend %transition-s;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

[data-unlocked="false"] {
  opacity: 0.3;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #565656;
}
::-webkit-scrollbar-track {
  background: #efefef;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #808080;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
