header {
  padding: 1rem;
}


.game-status-bar {
  background: rgba(black, 0.7);
  display: flex;
  justify-content: space-around;
  padding: .25rem;
  .btn {
    background: #222;
    border: 1px solid #111;
    border-radius: 0;
  }
}
