.resources {
  background: #fff;
  width: 30%;
}
.resources .heading {
  background: #CCE8A9;
}
.resources-item {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: default;
  display: inline-block;
  margin: .25rem;
  padding: .5rem;
  text-align: center;
  width: 8rem;
  img {
    height: .75rem;
  }
}

.resources-table {
  .btn {
    width: 12rem;
  }
  td {
    padding: .25rem;
    text-align: center;
    .btn {
      padding: .5rem;
      &[data-button="food"] {
        background: $food-color;
        border: 1px solid darken($food-color, 15%);
        &:hover, &:active {
          background: darken($food-color, 15%);
        }
      }
      &[data-button="prod"] {
        background: $prod-color;
        border: 1px solid darken($prod-color, 15%);
        &:hover, &:active {
          background: darken($prod-color, 15%);
        }
      }
    }

  }
}
