.resources {
  width: 30%;
}
.resources-item {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: default;
  display: inline-block;
  margin: .25rem;
  padding: .5rem;
  text-align: center;
  width: 8rem;
  img {
    height: .75rem;
  }
}

.resources-table {
  .btn {
    width: 12rem;
  }
  td {
    padding: .25rem;
    text-align: center;
  }
}
