.resources-item {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  padding: .5rem;
  text-align: center;
  width: 8rem;
  img {
    height: .75rem;
  }
}
