.settings-panel {
  background: #eee;
  height: 30rem;
  padding: 5rem;
  position: absolute;
  top: -30rem;
  width: 100%;
  @extend %transition-s;
  &.pull-down {
    top: 0;
    @extend %transition-s;
  }
}

.settings-lever {
  background: #222;
  color: #eee;
  cursor: pointer;
  padding: .5rem;
  position: absolute;
  right: 1rem;
  top: 0;
}
