$b: rgba(0, 0, 0, 0.7);

$food-color: lightgreen;
$prod-color: lighten(gold, 5%);
$research-color: #A9E8E1;
$culture-color: #E6395F;
$great-works-color: lighten(purple, 15%);
$military-color: desaturate(red, 35%);
$diplomacy-color: lighten(tan, 15%);
$faith-color: #eee;
$legacy-color: desaturate(lighten(gold, 15%), 15%);
