.diplomacy-screen {
  background: #333;
  border-top: 4px solid #F57F2C;
  h2 {
    background: #F57F2C;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img {
      background: white;
      border: 4px solid white;
      border-radius: 50%;
    }
  }
  .diplomacy-summary {
    background: #F57F2C;
    border: 1px solid #222;
    border-radius: 4px;
    color: #eee;
    padding: .5rem;
    text-align: center;
  }
  .nation {
    border: 1px solid #222;
    border-radius: 4px;
    height: 8rem;
    margin: 1rem;
    width: calc(100% - 2rem);
  }
  .nation-header,
  .nation-profile {
    display: inline-block;
  }
  .nation-header {
    background: #F57F2C;
    border-right: 1px solid #444;
    color: #eee;
    height: 100%;
    padding: .5rem;
    width: 25%;
    .nation-name {
      font-size: 1.5rem;
      text-align: center;
    }
    .nation-interact-btn {
      background: rgba(black, 0.8);
      border: 1px solid #222;
      margin: .5rem .5rem;
      width: 6rem;
    }
  }
  .nation-profile {
    background: #222;
    color: #eee;
    //background: lighten(#F57F2C, 15%);
    height: 100%;
    margin-left: -4px;
    padding: 1rem;
    position: relative;
    width: 75%;
    vertical-align: top;
  }
  .nation-description {
    font-size: 14px;
    margin: .5rem;
    text-align: center;
  }
  .nation-metrics {
    bottom: 0;
    padding: 1rem;
    position: absolute;
    span {
      padding-right: .5rem;
    }
  }
  .nation-img {
    background: white;
    border: 4px solid white;
    border-radius: 50%;
    height: 2.5rem;
    margin-left: 2rem;
    text-align: center;
  }
}
