doctype html
html
  head
    title Clickpolis Guide
    |
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic', rel='stylesheet', type='text/css')
    |
    style.
      body {
      font-family: 'Robot', sans-serif;
      }
      section {
      margin: 0 auto;
      max-width: 60rem;
      padding: 1rem;
      }
      h1, h2, h3, h4, h5, h6 {
      margin: 0;
      }
      h1 {
      font-size: 2rem;
      }
      .title {
      font-size: 3rem;
      }
      .title, .byline {
      text-align: center;
      }
      .byline {
      font-size: 1.5rem;
      }
      .center {
      text-align: center;
      }
      img {
      height: 1rem;
      }
  |
  body
    section
      h1.title Clickopolis: The Guide
      |
      p.byline by Emma
    |
    section
      p.center
        | Welcome to Clickopolis! If you are stumbling upon this guide, chances are something in the game has either confused you or you wanted a reference to figure out what the hell Proxenos does.
    |
    section.toc
      h1 Table of Contents
    |
    section.guide
      h1 Traits
      |
      p
        | Traits are assigned to your leader/Civilization at the start of the game, either manually or through the
        a(href='') Personality Quiz
        | . They carry an array of different bonuses throughout the game&apos;s progression. You gain one extra trait upon each restart, maxing out at 6. Likewise, opponent Civilizations also posses traits (2-4).
      |
      h2 List of Traits
      |
      ul
        li
          strong Aggressive
          |
          ul
            li
              | +10%
              img(src='img/strength.png')
              |  Strength early-game (Ancient&mdash;Medieval)
      |
      h1 Resources
      |
      h2 Food
      |
      h2 Production
      |
      h2 Other Resources
      |
      h3 Fish
      |
      h3 Horse
      |
      h3 Spices
      |
      h1 Faith
      |
      h2 Obtaining Faith
      |
      h2 Faith Purchases
      |
      h3 Pantheon
      |
      h3 Belief
      |
      h3 Dogma
      |
      h3 Holiest Powers
