// @import "_normalize.scss";
// @import "_variables.scss";
// @import "_extends.scss";
// @import "_global.scss";
// @import "_button.scss";
// @import "_forms.scss";
// @import "_screens.scss";
// @import "_section.resources.scss";
// @import "_notification.scss";
@import 'normalize.styl';
@import 'variables.styl';
@import 'global.styl';
@import 'forms.styl';
@import 'buttons.styl';
@import 'screens.styl';
@import 'screen.menu.styl';
@import 'screen.resources.styl';
@import 'screen.civilization.styl';
@import 'screen.citizens.styl';
@import 'screen.buildings.styl';
@import 'screen.wonders.styl';
@import 'screen.tech.styl';
@import 'screen.diplomacy.styl';
@import 'screen.military.styl';
@import 'screen.economy.styl';
@import 'screen.culture.styl';
@import 'screen.faith.styl';
@import 'screen.history.styl';
@import 'screen.settings.styl';
@import 'notify.styl';

$b = rgba(black, 0.5);

body
  background: #222;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;

.overlay
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

.modal-era
  background-size: cover;
  h1
    color: white;
    text-shadow: 0 0 1rem $b;

.era-Classical
  background-image: linear-gradient(to left, $b, $b), url('../img/classical.jpg') !important;

section
  z-index: 2;

.clickopolis-start
  z-index: 10;
  h1
    font-size: 3rem;
    margin: .5rem;
    text-transform: uppercase;

.modal,
.clickopolis-intro,
.clickopolis-start
  background-color: #ccc;
  background-image: linear-gradient(to bottom, rgba(white, 0.5), rgba(white, 0.5)), url('../img/world.png');
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
  color: #444;
  left: calc(50% - 20rem);
  height: 30rem;
  margin: 0 auto;
  max-width: 40rem;
  min-width: 40rem;
  padding: 2rem;
  position: absolute;
  text-align: center;
  top: calc(50% - 15rem);

.clickopolis
  height: 70%;
  //left: 20%;
  position: absolute;
  top: 15%;
  width: 8000px;

.screen-header
  background: $gold;
  background: linear-gradient(to top, rgba(black, 0.7), rgba(black, 0.8)), url('../img/ancient.jpg');
  color: $clouds;
  left: 0;
  padding: 1rem 1rem;
  position: fixed;
  text-shadow: 0 0 2px rgba(black, 0.5);
  top: 0;
  width: 100%;
  *
    margin: 0;

.screen
  //background: #fff;
  display: inline-block;
  height: 100%;
  padding: 1rem;
  //outline: 1px solid blue;
  width: 600px;
  vertical-align: top;
  h2
    text-align: center;
  &:target
    //border: 1px solid white;
