.current-research {
  color: #eee !important;
  margin: .5rem;
  span {
    font-weight: bold;
  }
}

.research-PM-wrapper {
  background: #222;
  border: 1px solid #111;
  border-radius: 4px;
  color: #eee;
  display: inline-block;
  padding: .25rem;
  max-width: 10rem;
  text-align: center;
}

.technology-screen {
  background: #333;
  border-top: 4px solid #83D4D4;
  h2 {
    background: #83D4D4;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img {
      background: white;
      border: 4px solid white;
      border-radius: 50%;
    }
  }
  .research-exceeding {
    color: #eee;
    margin-bottom: .25rem;
  }
  .research-progress-bar {
    background: #444;
    border: 1px solid #111;
    border-radius: 8px;
    display: inline-block;
    margin: 0 auto;
    height: 1rem;
    width: 80%;
  }
  .r-text {
    color: #eee;
    display: inline-block;
    text-align: center;
    width: 8%;
  }
  .technologies {
    padding: 1rem;
  }

  .search {
    padding: 1rem;
    padding-bottom: .25rem;
    input[type='search'] {
      background: #222;
      border: 1px solid #111;
      color: #eee;
      padding: .5rem;
    }
    .research-filters {
      background: #222;
      border: 1px soild #111;
      color: #eee;
      display: inline-block;
      font-size: .9rem;
      padding: .25rem;
      transform: translate(5px, 7px);
      label:nth-of-type(1) {
        border-bottom: 1px solid #666;
      }
      input {
        margin-right: .5rem;
        vertical-align: middle;
      }
    }
  }

  .tech-queue {
    background: #222;
    border: 1px solid #111;
    margin: .25rem;
    padding: .25rem;
    &:nth-child(1) {
      color: #eee;
    }
    div {
      display: inline-block;
      color: #eee;
    }
    span {
      background: #DB9665;
      color: #222;
      display: inline-block;
      font-size: .9rem;
      margin: .25rem;
      padding: .25rem;
      &:hover {
        background: darken(#DB9665, 10%);
      }
      img {
        cursor: pointer;
        height: .8rem;
        vertical-align: middle;
      }
    }
  }

  .queue-item {
    background: #DB9665;
    margin: .25rem;
    padding: .25rem;
  }

  .tech {
    background: #83D4D4;
    border: 1px solid #111;
    border-radius: 4px;
    cursor: pointer;
    margin: .25rem auto;
    padding: .5rem;
    position: relative;
    &:hover {
      background: darken(#83D4D4, 15%);
      //@extend %transition-s;
    }
    &[data-selected=true] {
      background: #DB9665;
    }
    &[data-purchased=true] {
      background: #2DE066;
    }
    .tech-name {
      font-weight: bold;
      text-transform: capitalize;
    }
    .tech-description {
      font-size: 0.8rem;
    }
    .tech-categories {
      background: #c0ffff;
      border-radius: 0 4px 4px 0;
      height: 100%;
      padding: .25rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.8rem;
    }
    .tech-list {
      font-size: .95rem;
      list-style-type: none;
      margin: 0;
      margin-left: 2rem;
      padding: 0;
    }
  }
}
