@import 'variables.styl';

.resources-screen {
  $green = #32E361;
  $yellow = #E6D83E;
  //background: linear-gradient(to bottom, #eee, lighten($green, 30%)) !important;
  background: #333;
  border-top: 4px solid $green;

  h2 {
    background: darken($green, 10%);
    color: #eee;
    margin: .25rem;
    margin-bottom: 1.25rem;
    padding: 1rem;
    img {
      border-radius: 50%;
      background: white;
      border: 4px solid white;
    }
  }
  .food-btn,
  .prod-btn {
    border: 1px solid #222;
    color: #222;
    font-size: 1.25rem;
    margin: .25rem;
    padding: .5rem;
    width: 14rem;
  }
  .food-btn {
    background: $green;
    //@extend %transition-s;
    &:hover {
      background: darken($green, 10%);
      //@extend %transition-s;
    }
  }
  .prod-btn {
    background: $yellow;
    //@extend %transition-s;
    &:hover {
      background: darken($yellow, 10%);
      //@extend %transition-s;
    }
  }
  .location-panel {
    //background: $clouds;
    background: desaturate($green, 15%);
    border-left: 4px solid $green;
    color: white;
    margin: .25rem;
    padding: .25rem;
    text-align: center;
    p { padding: 0; margin: 0; }
  }
  .resource {
    background: #222;
    color: #eee;
    border: 1px solid #111;
    display: inline-block;
    margin: .25rem;
    min-width: 7rem;
    padding: .5rem;
    text-align: center;
    &[data-resource] {
      border-radius: 4px;
    }
    &[data-visible='false'] {
      opacity: 0;
      pointer-events: none;
    }
    &[data-unlocked='false'] {
      -webkit-filter: grayscale(100%);
      opacity: .3;
      pointer-events: none;
    }
    &[data-resource]:hover {
      background: darken(#222, 5%);
      cursor: pointer;
      //@extend %transition-s;
    }
    &[data-resource].active {
      border: 1px solid $green;
    }
  }
  // .power-resources {
  //   background: white;
  //   color: #222;
  // }
  .resource-info {
    color: #eee;
    margin: .25rem;
    text-align: center;
  }
  .resource-info-screen {
    background: #222;
    color: #eee;
    border: 1px solid #111;
    border-radius: 4px;
    //margin: .5rem;
    padding: .5rem;
    h3 {
      text-align: center;
      text-transform: uppercase;
      img { height: 1.5rem; }
    }
  }
}
