.screen.exploration-screen
	background: #fff;
	border-top: 4px solid darken(gold, 15%);
	border-radius: 4px;
	box-shadow: 0 0 .5rem #222;
	display: none;
	height: 80%;
	left: 10%;
	position: fixed;
	top: 10%;
	width: 80%;
	z-index: 100;
	h2
		background: darken(gold, 15%);
		color: #eee;
		margin: .25rem .25rem 1.25rem .25rem;
		padding: 1rem;
		img
			background: #eee;
			border: 4px solid #ddd;
			border-radius: 50%;
	.exploration-close
		display: inline-block;
		cursor: pointer;
// .exploration-screen h2 
// 	background: gold;
//   color: #eee;
//   margin: .25rem .25rem 1.25rem .25rem;
//   padding: 1rem;
// .exploratoin-screen h2 img 
//   background: #eee;
//   border: 4px solid #eee;
//   border-radius: 50%;