@import 'variables.styl';

.civilization-screen {
  //background: linear-gradient(to bottom, white, #B3BEE6) !important;
  background: #333;
  border-top: 4px solid darken(#B845E6, 15%);
  h2 {
    background: #B845E6;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img {
      background: white;
      border: 4px solid white;
      border-radius: 50%;
    }
  }
  h3 {
    color: #eee;
    text-align: center;
  }
  .pop-btn {
    background: lighten(green, 15%);
    padding: .5rem;
  }
  .civ-metric {
    //border: 1px solid #666;
    border-radius: 4px;
    display: inline-block;
    margin: .5rem .25rem;
    min-width: 6rem;
    padding: .5rem;
    text-align: center;
  }
  .metric-growth-cost {
    background: $clouds;
  }
  .metric-land {
    background: lighten(#2A5FB5, 25%);
  }
  .metric-population {
    background: #E6DBB3;
  }
  .metric-happiness {
    background: lighten(yellow, 20%);
  }
  .metric-anger {
    background: lighten(red, 25%);
  }
  .metric-health {
    background: white;
  }
  .metric-pollution {
    background: lighten(desaturate(green, 50%), 35%);
  }
  .metric-influence {
    background: #BAE0E8;
  }
  .metric-golden-age {
    background: #222;
    border: 1px solid black;
    color: #fff;
    padding: .5rem auto;
    width: 20rem;
  }
}
