.legacy-screen
  background: #333;
  border-top: 4px solid #F23535;
  h2
    background: #F23535;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img
      background: white;
      border: 4px solid white;
      border-radius: 50%;
  .legacy-wrapper
    background: #222;
    border: 1px solid #111;
    border-radius: 4px;
    color: #eee;
    margin: 0 auto;
    padding: .25rem;
    text-align: center;
    width: 15rem;
  .pass-on-legacy
    background: darken(#F23535, 10%);
    border: 1px solid darken(#F23535, 25%);
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1rem auto;
    padding: .75rem;
    text-align: center;
    width: 70%;
    img
      height: 1.4rem;
    .legacy-points-gain
      background: #333;
      border-radius: 4px;
      padding: .25rem;
    &:hover
      background-color: darken(#F23535, 10%);
      background-image: url('../../img/buncee.gif');
      box-shadow: 0 0 8px #F23535;
      text-shadow: 0 0 4px white;
  .legacy-bonus
    align-items: center;
    //background: darken(#F23535, 10%);
    background: #222;
    border: 1px solid darken(#F23535, 10%);
    border-radius: 4px;
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    &.maxed-out
      background: #EDE480;
      color: #222;
  .legacy-bonus-level
    //color: #222;
    text-align: center;
  .legacy-bonus-upgrade
    background: darken(#F23535, 10%);
    border-radius: 2px;
    cursor: pointer;
    margin-top: .5rem;
    padding: .25rem;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    &:hover
      background: darken(#F23535, 15%);
    &:active
      background: #F23535;
  .legacy-bonus-total-upgrade
    width: 8rem;
  .legacy-bonus-name
    font-size: 1.25rem;
    font-weight: bold;
  .legacy-bonus-data
    flex: 2;
    margin: 0 1.5rem;
    text-align: center;
    width: 10rem;
  .legacy-bonus-progress
    background-color: #fff;
    border-radius: 4px;
    margin-top: .5rem;
    height: .4rem;
    width: 100%;
    
