.achievements-screen
  background: #333;
  border-top: 4px solid #15B0ED;
  h2
    background: #15B0ED;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img
      background: white;
      border: 4px solid white;
      border-radius: 50%;
  .achievements-wrapper
    background: #222;
    border: 1px solid #111;
    border-radius: 4px;
    color: #eee;
    margin: 0 auto;
    padding: .25rem;
    text-align: center;
    width: 15rem;
  .achievements
    margin: 1rem;
  .achievement
    background-color: #222;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    border: 1px solid #111;
    border-radius: 8px;
    display: inline-block;
    height: 4rem;
    margin: .25rem;
    padding: 1rem;
    width: 4rem;
  .baby-clicker
    background-color: lightblue;
    background-image: url('../img/cursor.png');
  .hyper-clicker
    background-color: gold;
    background-image: url('../img/cursor.png');
  .achievement[data-unlocked='false']
    background-color: #222 !important;
    background-image: url('../img/lock.png')
