.economy-screen
  //background: linear-gradient(to bottom, white, #A0D190) !important;
  background: #333;
  border-top: 4px solid darken(#A0D190, 15%);
  h2
    background: #A0D190;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img
      background: white;
      border: 4px solid white;
      border-radius: 50%;
  .total-cash
    background: #222;
    border: 1px solid #111;
    color: #eee;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;
    text-align: right;
    &.debt
      color: red;
    img
      height: 1.5rem;
      margin-top: 4px;

  .cash-breakdown
    display: flex;

  .cash-item
    background: lighten(#222, 15%);
    border-left: 1px solid black;
    color: #eee;
    display: inline-block;
    flex: 1;
    font-size: .8rem;
    margin: .25rem 0;
    padding: .5rem;
    text-align: center;
    width: calc(25% - .5rem);
    &.cash-item-total
      background: darken(#A0D190, 15%);
      border: 1px solid darkgreen;
      border-radius: 0 0 4px 4px;
      margin-top: -4px;
      color: #222;
      text-align: right;
      width: 100%;
    &:first-of-type
      border-left: none;
    span
      font-weight: bold;

  table
    background: #222;
    border: 1px solid #111;
    color: #eee;
    margin-top: .5rem;
    width: 100%;
    tr
      padding: .25rem;
    tr
      text-align: center;
    tr:nth-of-type(1)
      //font-size: 1.25rem;
      font-weight: bold;
    tr:nth-of-type(even)
      background: #111;
