@import 'variables.styl';

.civilization-screen
  //background: linear-gradient(to bottom, white, #B3BEE6) !important;
  background: #333;
  border-top: 4px solid darken(#B845E6, 15%);
  h2 
    background: #B845E6;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img 
      background: white;
      border: 4px solid white;
      border-radius: 50%;
  h3
    color: #eee;
    text-align: center;
  .civilization-overview
    a
      text-decoration: none;
    .overview-item
      border: 1px solid #111;
      color: #eee;
      margin: .25rem 0;
    .overview-item-name
      background: #222;
      padding: .25rem;
    .overview-item-inner
      background: #444;
      padding: .5rem;
    .overview-economy .overview-item-name
      background: darken(#A0D190, 15%);
    .overview-technology .overview-item-name
      background: #83D4D4;
    .overview-faith .overview-item-name
      background: #eee;
      color: #444;
    .overview-culture .overview-item-name
      background: #C41B7E;
    .can-purchase-faith-upgrades,
    .can-purchase-tech
      border-radius: 1rem;
      color: #111;
      display: none;
      font-size: .8rem;
      padding: .25rem .5rem;
      text-align: center;
    .can-purchase-faith-upgrades
      background: #ffffe0;
    .can-purchase-tech
      background: lighten(#83D4D4, 20%);
  .pop-btn 
    background: #35DB6F;
    color: #fff;
    margin: .5rem .25rem;
    overflow: hidden;
    padding: 0 0 0 .75rem;
  .pop-growth-cost 
    background: #2FC253;
    padding: .75rem;
    display: inline-block;
    text-align: center;
  .disabled .pop-growth-cost 
    background: #aaa;
    -webkit-filter: grayscale(100%);
  .civ-metric 
    //border: 1px solid #666;
    border-radius: 4px;
    display: inline-block;
    margin: .5rem .25rem;
    min-width: 6rem;
    padding: .75rem;
    position: relative;
    text-align: left;
  .civ-metric[data-label]::before 
    color: #fff;
    content: attr(data-label);
    font-size: .8rem;
    position: absolute;
    text-align: center;
    bottom: 100%;
  .civ-metric img 
    height: 1.25rem;
    float: right;
  img.flip 
    transform: rotateX(180deg);
  .metric-growth-cost 
    background: $clouds;
  .metric-land 
    background: #489CE0;
    color: #fff;
  .metric-population 
    background: #D6C998;
    color: #fff;
  .metric-migration 
    background: #B8DFFC;
    color: #120047;
  .metric-happiness 
    background: #FFF15C;
  .metric-anger 
    background: #DB3535;
    color: #fff;
  .metric-health 
    background: white;
  .metric-pollution 
    background: #6CC482;
    color: #fff;
  .metric-exploration
    background: white;
    border: 1px solid gold;
    cursor: pointer;
    color: darken(gold, 20%);
    span
      margin-right: .5rem;
    &:hover
      box-shadow: 0 0 .5rem darken(gold, 20%);
  .metric-influence-text 
    color: #fff;
  .metric-domestic-influence 
    background: #6DF7EC;
  .metric-international-influence 
    background: #84A6FA;
  .metric-golden-age 
    background: #222;
    padding: .75rem auto;
    text-align: center;
    width: 20rem;
  .metric-golden-age-points,
  .metric-golden-ages,
  .metric-golden-age 
    background: #212006;
    color: #fff;

