.legacy-screen
  background: #333;
  border-top: 4px solid #F23535;
  h2
    background: #F23535;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img
      background: white;
      border: 4px solid white;
      border-radius: 50%;
  .legacy-wrapper
    background: #222;
    border: 1px solid #111;
    border-radius: 4px;
    color: #eee;
    margin: 0 auto;
    padding: .25rem;
    text-align: center;
    width: 15rem;
  .legacy-bonus
    background: #F23535;
    border-radius: 4px;
    color: #eee;
    margin: 1rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
  .legacy-level, .legacy-name, .legacy-cost
    display: inline-block;
  .legacy-level
    background: darken(#F23535, 20%);
    color: white;
    left: 0;
    padding: .5rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 3.5rem;
  .legacy-category
    background: white;
    border-radius: 50%;
    height: 2rem;
    left: 4.5rem;
    padding: .5rem;
    position: absolute;
    top: calc(50% - 1rem);
    width: 2rem;
  .legacy-name
    font-size: 1.2rem;
    margin-left: 3.5rem;
    width: calc(100% - 8rem);
    text-align: center;
  .legacy-cost
    background: darken(#F23535, 20%);
    color: white;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    padding: .5rem;
    width: 3.5rem;
