.buildings-screen {
  background: #333;
  border-top: 4px solid #D6CA3E;
  h2 {
    background: #D6CA3E;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img {
      background: white;
      border: 4px solid white;
      border-radius: 50%;
    }
  }
  .panel {
    padding: .5rem 1rem;
  }
  .purchase-mode-btn {
    background: #D6CA3E;
    color: #222;
    padding: .5rem;
    //width: ${(128 / 16) + rem};
  }

  .building {
    background: #D6CA3E;
    border: 1px solid #222;
    border-radius: 4px;
    cursor: pointer;
    margin: .25rem 1rem;
    //padding: .5rem;
    position: relative;
    transition: 500ms all;
    &:hover {
      background: darken(#D6CA3E, 15%);
      transition: 500ms all;
    }
    &[data-purchaseable='false'] {
      background: #aaa;
      cursor: not-allowed;
      transition: 500ms all;
    }
    &[data-visible='false'] {
      display: none;
    }
    &[data-enabled='false'] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .prod-wrapper {
    background: #222;
    border: 1px solid #111;
    border-radius: 4px;
    color: #eee;
    display: block;
    margin: 0 auto;
    padding: .25rem;
    text-align: center;
    width: 15rem;
  }
  .building-total {
    background: rgba(white, 0.5);
    border-radius: 4px;
    display: inline-block;
    min-width: 3rem;
    padding: .25rem;
  }
  .building-cost {
    img {
      vertical-align: middle;
    }
  }
  .building-description {
    display: inline-block;
    font-size: .8rem;
    width: 50%;
  }
  .building-name {
    display: inline-block;
    font-weight: bold;
    min-width: 8rem;
    padding: .5rem;
  }
  .building-effect {
    background: rgba(black, 0.5);
    color: #eee;
    display: block;
    padding: .25rem;
    text-align: center;
  }


}
