.citizens-screen {
  //background: linear-gradient(to bottom, white, #E6DBB3) !important;
  background: #333;
  border-top: 4px solid tan;
  h2 {
    background: #CFBC7A;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img {
      background: white;
      border: 4px solid white;
      border-radius: 50%;
    }
  }

  .center-text {
    color: #eee;
  }

  .citizens-employed {
    border: 1px solid #111;
    border-radius: 4px;
    background: #222;
    color: #eee;
    padding: .25rem;
  }


  .row {
    background: rgba(#222, 0.9);
    border: 1px solid #111;
    color: #eee;
    margin-top: .25rem;
    padding: .5rem;
  }

  .citizen-icon img {
    //background: #ddd;
    //border: 2px solid #ddd;
    height: 1.5rem;
    margin: 0 .25rem;
  }

  .citizen-info img {
    margin-top: 4px;
  }

  button {
    background: #111;
    border: 1px solid black;
    color: #eee;
    text-align: center;
    width: 2rem;
    &:hover {
      border: 1px solid tan;
    }
  }
}
