.menu-screen
  background: #262626;
  font-size: .9rem;
  height: 90% !important
  padding: 1rem !important;
  padding-top: 0 !important;
  position: fixed;
  width: 70px !important;
  h3
    color: #eee;
    text-align: center;
  ul
    color: #eee;
    font-size: 1.25rem;
    list-style-type: none;
    padding: 0;
    li
      border-bottom: 1px solid #222;
      padding: .5rem;
      &:nth-of-type(1)
        border-top: 1px solid #222;
      img
        height: 1.25rem;
      a
        background: #222;
        border: 1px solid transparent;
        border-radius: 50%;
        color: inherit;
        cursor: pointer;
        display: block;
        margin-left: calc(50% - 1.25rem);
        height: 2.5rem;
        padding: .5rem;
        text-decoration: none;
        width: 2.5rem;
        &:hover
          border: 1px dashed grey;
          transition: 250ms all;
