$blue = #3498db;
$off-white = #ecf0f1;
$clouds = $off-white;
$gold = #C4C38B;

$economy-color = #0;
$civilization-color = #0;
$resources-color = #0;
$citizens-color = #3;
$espionage-color = #1;
$culture-color = #2;
$faith-color = #1;
$military-color = #1;
$diplomacy-color = #222;
$technology-color = #222;
$legacy-color = #333;
$settings-color = #222;
